/* BOX DIMESIONS */

 /* div{
height: 500px;
width: 200px;
background-color: wheat;
} 

p{
    width: 20%;
} */

/* LIMITING WIDTH */

/* td.descrabtion{
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0px;
} */

/* LIMITING HIGHT */
