/* BOX DIMESIONS */

 /* div{
height: 500px;
width: 200px;
background-color: wheat;
} 

p{
    width: 20%;
} */

/* LIMITING WIDTH */

/* td.descrabtion{
    min-width: 450px;
    max-width: 650px;
    text-align: left;
    padding: 5px;
    margin: 0px;
} */

/* LIMITING HIGHT */
/* h2, p {
    width: 400px;
    font-size: 90%;
    line-height: 1.2em;}

    h2 {
        color: #0088dd;
        border-bottom: 1px solid #0088dd;}

        p{
            max-height: 250px;
            border: 1px solid red;
        } */
        